body{
    box-sizing: border-box;
}
.choice-title{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
}
.buttons{
    width: 400px;
    margin: 0 auto;
}
.buttons button{
    text-align: center;
    display: inline;
    width: 100px;
    margin: 10px; 
    padding: 10px;
}